# Ignore PostgreSQL files
*.pgsql
*.pgdump
*.pgbackup
*.pgdata

# Ignore postgres-db-volume directory
postgres-db-volume/

#ignore the yellow_tripdata_2019-01.csv file
yellow_tripdata_2021.csv
green_tripdata_202-10.csv
taxi_zone_lookup.csv
